.boardSpace,
.card,
.deckBase {
  user-select: none;
}

.boardSpace {
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #000;
  flex-shrink: 0;
  width: 7rem;

  height: 11rem;
  font-size: 0.8em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.boardSpace.square {
  width: 11rem;
}

/*
Sometimes, the board space's background will be overridden by our frontend framework
so that we can give properties different colours with ease
*/
.boardSpace {
  background-color: #cdffdc;
}

.boardSpace > .boardBackground {
  background-color: #cdffdc;
}
.boardSpace > .boardBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.boardSpace > *:not(.boardBackground) {
  z-index: 1;
}

/* For board corners */
.boardSpace > div.rotate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem;
}
/*
Realistically, if our players are going to be playing on screens, we don't want
to do the typical monopoly rotation otherwise players are going to break their necks.
90
.boardSpace > div.rotate.topLeft {
	transform: rotate(135deg);
}
.boardSpace > div.rotate.topRight {
	transform: rotate(-135deg);
}
*/
.boardSpace > div.rotate.bottomLeft,
.boardSpace > div.rotate.topLeft {
  transform: rotate(45deg);
}
.boardSpace > div.rotate.bottomRight,
.boardSpace > div.rotate.topRight {
  transform: rotate(-45deg);
}

/* GO */
.boardSpace.go .goText {
  width: 70%;
  margin: auto;
}
.boardSpace.go .goTextBig {
  font-size: 5em;
  font-weight: bold;
  margin-top: -1.2rem;
}
.boardSpace.go svg {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  left: 0.8rem;
  height: 75%;
}

/* PROPERTY */
.boardSpace.property > .boardBackground {
  height: 79%;
  border-top: 3px solid #000;
  top: auto;
  bottom: 0;
}
.boardSpace.property > .propertyContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 79%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.boardSpace.property .propertyText {
  flex: 1;
}

/* GO TO JAIL */
.boardSpace.goToJail {
  font-size: 1.1em;
}
.boardSpace.goToJail > div.rotate {
  margin: 0.7rem;
}
.boardSpace.goToJail img {
  width: 6rem;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

/* IN JAIL */
.boardSpace.inJail {
  font-weight: bold;
}
.boardSpace.inJail .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 70%;
  border: 3px solid #000;
  border-right: none;
  border-bottom: none;
  background-color: #e5671b;
}
.boardSpace.inJail .just,
.boardSpace.inJail .visiting {
  position: absolute;
  font-size: 1.5em;
}
.boardSpace.inJail .just {
  left: 0%;
  bottom: 27%;
  transform: rotate(-90deg);
}
.boardSpace.inJail .visiting {
  right: 11%;
  top: 8%;
}
.boardSpace.inJail .inner > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}
.boardSpace.inJail .inner > div img {
  width: 4.5rem;
  height: 4.5rem;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* FREE PARKING */
.boardSpace.freeParking {
  font-size: 1.1em;
}
.boardSpace.freeParking > div.rotate {
  margin: 0.7rem;
}
.boardSpace.freeParking img {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

/* SPECIAL */
/* Utility, Chance, Community Chest */
.boardSpace.special {
  padding: 0.75rem;
}
.boardSpace.special img {
  width: 100%;
  flex: 1;
  flex-basis: 100%;
  margin-top: 0.5rem;
}
.boardSpace.special.significant .specialText {
  font-size: 1.3em;
}
.boardSpace.special .specialText {
  flex: 1;
  flex-basis: 0;
}
.boardSpace.special .specialPrice {
  margin-top: 0.5rem;
}

/* DECK BASES */
.deckBase {
  width: 22rem;
  height: 13.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 1rem 1rem;
  background-repeat: space;
  padding: 3.5rem;
  border: 3px dashed #00000087;
}
.deckBase img {
  height: 100%;
}
.deckBase .deckBaseBackgroundColor {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.25rem;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  z-index: 0;
  border: 3px solid;
}

.deckBase.opportunityKnocks .deckBaseBackgroundColor {
  border-color: #9c4007;
  background: linear-gradient(#e5671b, #ffae7c);
}

.deckBase.potLuck .deckBaseBackgroundColor {
  border-color: #07809c;
  background: linear-gradient(#1b91e5, #7ccfff);
}

/* CARDS */
.card {
  padding: 1rem;
  text-transform: uppercase;
  word-break: break-word;
  font-size: 0.6em;
  overflow: auto;

  width: 21.1rem;
  height: 12.6rem;
  max-height: 12.6rem;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content auto;
  grid-gap: 1rem;

  box-shadow: 0 0 4px 2px #0000002e;
  text-align: center;
}
.card .cardType {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  font-family: 'Script BC', serif;
  text-align: left;
}
.card .cardTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 6rem;
  height: 100%;
  grid-column: 2;
  grid-row: 1 / 3;
}

.card.opportunityKnocks {
  background-color: #ffae7c;
}
.card.potLuck {
  background-color: #fff8a8;
}
