* {
  box-sizing: border-box;
}

.board-space,
.card,
.deck-base {
  user-select: none;
}

.board-space {
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #000;
  width: 7rem;
  height: 11rem;
  font-size: 0.8em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  word-break: break-word;
}
.board-space.square {
  width: 11rem;
}

/*
Sometimes, the board space's background will be overridden by our frontend framework
so that we can give properties different colours with ease
*/
.board-space {
  background-color: #cdffdc;
}
.board-space > .board-background {
  background-color: #cdffdc;
}
.board-space > .board-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.board-space > *:not(.board-background) {
  z-index: 1;
}

/* For board corners */
.board-space > div.rotate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem;
}
/*
Realistically, if our players are going to be playing on screens, we don't want
to do the typical monopoly rotation otherwise players are going to break their necks.

.board-space > div.rotate.top-left {
	transform: rotate(135deg);
}
.board-space > div.rotate.top-right {
	transform: rotate(-135deg);
}
*/
.board-space > div.rotate.bottom-left,
.board-space > div.rotate.top-left {
  transform: rotate(45deg);
}
.board-space > div.rotate.bottom-right,
.board-space > div.rotate.top-right {
  transform: rotate(-45deg);
}

/* GO */
.board-space.go .go-text {
  width: 70%;
  margin: auto;
}
.board-space.go .go-text-big {
  font-size: 5em;
  font-weight: bold;
  margin-top: -0.7rem;
}
.board-space.go svg {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  left: 0.8rem;
  height: 75%;
}

/* PROPERTY */
.board-space.property > .board-background {
  height: 79%;
  border-top: 3px solid #000;
  top: auto;
  bottom: 0;
}
.board-space.property > .property-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 79%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.board-space.property .property-text {
  flex: 1;
}

/* GO TO JAIL */
.board-space.go-to-jail {
  font-size: 1.1em;
}
.board-space.go-to-jail > div.rotate {
  margin: 0.7rem;
}
.board-space.go-to-jail img {
  width: 6rem;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

/* IN JAIL */
.board-space.in-jail {
  font-weight: bold;
}
.board-space.in-jail .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 70%;
  border: 3px solid #000;
  border-right: none;
  border-bottom: none;
  background-color: #e5671b;
}
.board-space.in-jail .just,
.board-space.in-jail .visiting {
  position: absolute;
  font-size: 1.5em;
}
.board-space.in-jail .just {
  left: 0%;
  bottom: 27%;
  transform: rotate(-90deg);
}
.board-space.in-jail .visiting {
  right: 11%;
  top: 8%;
}
.board-space.in-jail .inner > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}
.board-space.in-jail .inner > div img {
  width: 4.5rem;
  height: 4.5rem;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* FREE PARKING */
.board-space.free-parking {
  font-size: 1.1em;
}
.board-space.free-parking > div.rotate {
  margin: 0.7rem;
}
.board-space.free-parking img {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

/* SPECIAL */
/* Utility, Chance, Community Chest */
.board-space.special {
  padding: 0.75rem;
}
.board-space.special img {
  width: 100%;
  flex: 1;
  flex-basis: 100%;
  margin-top: 0.5rem;
}
.board-space.special.significant .special-text {
  font-size: 1.3em;
}
.board-space.special .special-text {
  flex: 1;
  flex-basis: 0;
}
.board-space.special .special-price {
  margin-top: 0.5rem;
}

/* DECK BASES */
.deck-base {
  width: 22rem;
  height: 13.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 1rem 1rem;
  background-repeat: space;
  padding: 3.5rem;
  border: 3px dashed #00000087;
}
.deck-base img {
  height: 100%;
}
.deck-base .deck-base-background-color {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.25rem;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  z-index: 0;
  border: 3px solid;
}
.deck-base > *:not(.deck-base-background-color) {
  z-index: 1;
}

.deck-base.opportunity-knocks .deck-base-background-color {
  border-color: #9c4007;
  background: linear-gradient(#e5671b, #ffae7c);
}

.deck-base.pot-luck .deck-base-background-color {
  border-color: #07809c;
  background: linear-gradient(#1b91e5, #7ccfff);
}

/* CARDS */
.card {
  padding: 1rem;
  text-transform: uppercase;
  word-break: break-word;
  font-size: 0.6em;
  overflow: auto;

  width: 21.1rem;
  height: 12.6rem;
  max-height: 12.6rem;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content auto;
  grid-gap: 1rem;

  box-shadow: 0 0 4px 2px #0000002e;
  text-align: center;
}
.card .card-type {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  font-family: 'Script BC', serif;
  text-align: left;
}
.card .card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 6rem;
  height: 100%;
  grid-column: 2;
  grid-row: 1 / 3;
}

.card.opportunity-knocks {
  background-color: #ffae7c;
}
.card.pot-luck {
  background-color: #fff8a8;
}
